/* remove the list style */
#smoothmenu1
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 980px;
	background: url(../images/menu_bgnormal.jpg) repeat-x;
	height: 42px;
	line-height: 42px;
}

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#smoothmenu1 li
{
	float: left;
	display: block;
	position: relative;
	z-index: 9999;
	margin: 0px 0px;
	height:42px;
}

/* this is the parent menu */
#smoothmenu1 li a
{
	display: block;
	font-weight: 700;
	background: url(../images/menu_split_1.jpg) top right no-repeat;
	width:121px;
	color: #fff;
	text-decoration: none;
	height: 42px;
	line-height: 42px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

#smoothmenu1 li a:hover
{
	color: #fff;
	background: url(../images/menu_split_1.jpg) top right no-repeat,url(../images/menu_selected_1.jpg) repeat-x; /*background of menu items during onmouseover (hover state)*/
}

/* you can make a different style for default selected value */
#smoothmenu1 a.selected
{
	color: #fff;
	background: url(../images/menu_split_1.jpg) top right no-repeat,url(../images/menu_selected_1.jpg) repeat-x;
	text-decoration:none;
}

/* submenu, it's hidden by default */
#smoothmenu1 ul
{
	/*position: absolute;*/
	left: 0;
	display: block;
	padding: 0;
	list-style: none;
}
#smoothmenu1 ul li ul
{
	position: absolute;
	left: 0;
	display: none;
	padding: 0;
	list-style: none;
}

#smoothmenu1 ul li
{
	float: left;
}
.ddsmoothmenu ul li .tail{
	display: block;
	
	background:none !important;
}
.tailli ul {margin-left:-77px !important;}
.tail:hover
{
	background:url(../images/menu_selected_1.jpg) repeat-x !important; /*background of menu items during onmouseover (hover state)*/
	color: white;
	text-decoration:none;
}
.ddsmoothmenu ul li .tail:hover
{
	background:url(../images/menu_selected_1.jpg) repeat-x !important;/*background of menu items during onmouseover (hover state)*/
	color: white;
	text-decoration:none;
	text-align:center;
	width:120px !important;
}
/* display block will make the link fill the whole area of LI */
#smoothmenu1 ul a
{
	display: block;
	color:#fff;
	text-decoration: none;
	height: 42px;
	line-height: 42px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

#smoothmenu1 ul a:hover
{
	text-decoration: none;
}

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #smoothmenu1 ul
{
	margin: 0 0 0 -2px;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
width:200px;
margin: 0 0 0 -1px;
height:200px!important;
}
.ddsmoothmenu ul li ul li{
top: 0;
height:35px !important;
line-height:35px !important;
}

.ddsmoothmenu ul li ul li a{
display: list-item;
float: none;
background:url(../images/submenu_normal.jpg)  repeat-x !important; 
overflow: hidden;	
text-decoration:none;
border-left:solid 1px #fff;
border-right:solid 1px #fff;
border-bottom:solid 1px #fff;
height:34px !important;
line-height:34px !important;
width:200px !important;

}

.ddsmoothmenu ul li ul li a:hover{
position: relative;
display: list-item;
float: none;
width:200px;
background:url(../images/submenu_selected.jpg)  repeat-x !important; 
text-decoration:none;
border-left:solid 1px #fff;
border-right:solid 1px #fff;
border-bottom:solid 1px #fff !important;
height:34px;
line-height:34px;

}